
{%extends "base.html"%}

{% block css%}<link rel="stylesheet"href="{{ url_for('static', filename='css/register.css') }}">{% endblock %}
{% block tittle%}Registrarse{% endblock %}

{% block main%}


{% with mensajes = get_flashed_messages() %}
    {% if mensajes %}
        <ul>
            {%for msj in mensajes%}
                <div>
                    {{ msj }}                   
                </div> 
            {%endfor%}
        </ul>
    {% endif %}
{% endwith %}

<div class="contenedor">
    <h1 style="color: white;">Ingresa tus credenciales</h1>



    <form action="" method='POST'>

        <label for="email">Email</label><br>
        <input type="email" id='email' name='email' required>
        <br>

        <label for="password">Contraseña</label><br>
        <input type="password" id='password' name='password' required>
        <br>
        
        <button class=" button btn btn-primary" type="submit">Iniciar sesion</button>
        <span>Todavia no tienes una cuenta? <a href="{{ url_for('auth.register') }}">Registrarse</a> </span>



    </form>


</div>


    
{% endblock %}


{% block js%}
 <link rel="stylesheet"href="{{ url_for('static', filename='js/login.js') }}">
 {% endblock %}