
{%extends "base.html"%}

{% block css%}<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">{% endblock %}
{% block tittle%}Registrarse{% endblock %}

{% block main%}

<div class="contenedor">
    <h1>Ingresa tus credenciales</h1>



    <form action="" method='POST'>

        <label for="email">Email</label><br>
        <input type="email" id='email' name='email' required>
        <br>

        <label for="password">Contraseña</label><br>
        <input type="password" id='password' name='password' required>
        <br>
        
        <button class=" button btn btn-primary" type="submit">Iniciar sesion</button>
        <span>Todavia no tienes una cuenta? <a href="{{ url_for('auth.register') }}">Registrarse</a> </span>



    </form>


</div>


    
{% endblock %}


{% block js%} {% endblock %}