
{%extends "base.html"%}

{% block css%}<link rel="stylesheet"href="{{ url_for('static', filename='css/register.css') }}">{% endblock %}
{% block tittle%}Registrarse{% endblock %}

{% block main%}

{% with mensajes = get_flashed_messages() %}
    {% if mensajes %}
        <ul>
            {%for msj in mensajes%}
                <div class="alert alert-info" role="alert">
                    {{ msj }}                   
                </div> 
            {%endfor%}
        </ul>
    {% endif %}
{% endwith %}


<div class="contenedor">
    <h1>Registrarse</h1>



    <form action="" method='POST'>
        <label for="name">Nombre</label><br>
        <input type="text" id='name' name='name' required>
        <br>

        <label for="email">Email</label><br>
        <input type="email" id='email' name='email' required>
        <br>

        <label for="password">Contraseña</label><br>
        <input type="password" id='password' name='password' required>
        <br>

        <label for="conf_password">Repite la contraseña</label><br>
        <input type="password" id='conf_password' name='conf_password' required>
        <br>
        
        
        <button class=" button btn btn-primary" type="submit">Registrarme</button>
        <span>Ya tienes una cuenta? <a href="{{ url_for('auth.login') }}">Inicia sesion</a> </span>
      

    </form>


</div>


    
{% endblock %}


{% block js%} {% endblock %}