
{%extends "base.html"%}

{% block css%}<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">{% endblock %}
{% block tittle%}Registrarse{% endblock %}

{% block main%}

<div class="contenedor">
    <h1>Registrarse</h1>



    <form action="" method='POST'>
        <label for="name">Nombre</label><br>
        <input type="text" id='name' name='name' required>
        <br>

        <label for="lastname">Apellido</label><br>
        <input type="text" id='lastname' name='lastname' required>
        <br>

        <label for="email">Email</label><br>
        <input type="email" id='email' name='email' required>
        <br>

        <label for="password">Contraseña</label><br>
        <input type="password" id='password' name='password' required>
        <br>
        
        <button class=" button btn btn-primary" type="submit">Registrarme</button>



    </form>


</div>


    
{% endblock %}


{% block js%} {% endblock %}