# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Entornos virtuales
env/
venv/
ENV/
.venv/

# Flask / App
instance/
*.sqlite3

# Logs
*.log

# Config / secrets
.env

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/



