
{%extends "base.html"%}

{% block css%}<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">{% endblock %}
{% block tittle%}INDEXHTML{% endblock %}

{% block main%}
 
    <h1>HOLA</h1>
    <h1>index</h1>
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, illum? Eligendi deserunt impedit exercitationem cupiditate necessitatibus quo dolor adipisci, quibusdam sequi beatae, placeat vero. Maiores enim autem tenetur fugit quaerat?</h2>
    
{% endblock %}


{% block js%} {% endblock %}