{%extends "base.html"%}

{% block css%}<link rel="stylesheet" href="{{ url_for('static', filename='css/inventario.css') }}">{% endblock %}
{% block tittle%}Productos{% endblock %}

{% block main%}


    <h1>Inventario de productos</h1>

  

    <!-- Formulario para agregar -->
    <form method="POST" action="{{ url_for('products.index') }}"> <br>
        <input type="text" name="nombre" placeholder="Nombre" required><br>
        <input type="number" name="cantidad" placeholder="Cantidad" required><br>
        <input type="number" step="0.25" name="precio" placeholder="Precio" required><br>
        <button class="btn btn-primary" type="submit">Agregar</button>
    </form>

    <hr>

    <!-- Tabla de productos -->
    <table border="1" cellpadding="5">
        <tr style="color: white;">
            <th>ID</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Editar caracteristicas</th>
        </tr>
        {% for p in productos %}
        <tr style="color: white;">
            <td>{{ p['id'] }}</td>
            <td>{{ p['nombre'] }}</td>
            <td>{{ p['cantidad'] }}</td>
            <td>{{ p['precio'] }}</td>

            <td style="color:white;">
                <!-- Editar -->
                <form method="POST" action="{{ url_for('products.editar', id=p['id']) }}" style="display:inline;">
                    <input type="text" name="nombre" value="{{ p['nombre'] }}" required>
                    <input type="number" name="cantidad" value="{{ p['cantidad'] }}" required>
                    <input type="number" step="0.01" name="precio" value="{{ p['precio'] }}" required>
                    <button class="btn btn-success" type="submit">Guardar cambios</button>
                </form>

                <!-- Eliminar -->
                <form method="POST" action="{{ url_for('products.eliminar', id=p['id']) }}" style="display:inline;">
                    <button class="btn btn-danger" type="submit">Eliminar articulo</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
 <br><br><br>



{% endblock %}


{% block js%} {% endblock %}