/* Correcciones globales */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Branding */
.branding {
  background-color: #000000;
  width: 100%;
}

.title {
  color: var(--color-principal-text);
  font-family: "Asimovian", sans-serif;
  font-optical-sizing: auto;
  font-size: clamp(2rem, 10vw, 5rem);
  font-weight: 800;
  font-style: normal;
  text-align: center;
  padding: 10px 0;
  
}

.subtitle {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  margin-bottom: 0;
  font-size: clamp(1.5rem, 3vw, 3rem);
}

.subtitle::after {
  content: "|";
  animation: parpadeo 0.9s infinite;
  font-size: clamp(1.5rem, 2.5vw, 3rem);
}

@keyframes parpadeo {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

  img{
  filter: blur(10px);
  filter: brightness(1.5);   
  filter: contrast(200%); 
  width: 70%;
  height: auto;
  margin: 0 auto ;
  display: block;
  }

/* Botón */
.btn.btn-outline-primary {
  font-size: clamp(1rem, 3vw, 2rem);
  display: block;
  margin: 0 auto;
}

/* Contenedor y tarjetas */
.container {
  width: 95%;
  margin: 0 auto;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  margin: 10px auto;
  padding: 0;
}

.elementos-b {
  background-color: #201e1e;
  color: #fff;
}

.elementos-w {
  background-color: #fff;
  color: #000;
}

.producto {
  font-weight: bold;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  text-align: center;
  padding: 20px;
}
descripcion-b{
 color: white;
}
.descripcion-w{
  color: black;
}
.descripcion{
  font-size: clamp(1rem, 2vw, 1.5rem);
  line-height: 1.4;
  padding: 20px;
}

/* Estilos para escritorio */
@media (min-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  img{
  filter: blur(10px);
  filter: brightness(1.5);   
  filter: contrast(200%); 
  width: 70%;
  height: auto;
  margin: 0 auto ;
  display: block;
  }

  .card {
    flex-direction: row;
    width: 100%;
    max-width: 100vw;
    margin: 10px 0;
  }

  .producto {
    flex: 1;
    padding: 40px 30px;
  }

  .descripcion {
    flex: 2;
    padding: 40px 30px;
  }

  .btn.btn-outline-primary {
    font-size: 2vw;
  }
}

