{%extends "base.html"%}

    {% block css%}<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">{% endblock %}
{% block tittle%}About{% endblock %}
{% block main%} 
    <h1>
        esto es about html
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam autem quisquam debitis totam a incidunt nesciunt, officiis tenetur minus <br> <br> vel modi, perspiciatis quam eius ipsam dolor. Impedit sint quia reprehenderit?</p> <br>  <br>
    <p>Lorem ipsum dolor sit amet consectetur  <br> <br> adipisicing elit. Suscipit quae eaque perferendis placeat eum perspiciatis voluptatum modi minus repudiandae? Cum, a. Quas tenetur suscipit, commodi a id iusto perspiciatis earum.</p>
    <p>Lorem ipsum dolor sit amet <br> <br> consectetur adipisicing elit. Veniam autem quisquam debitis totam a incidunt nesciunt, officiis tenetur minus vel modi, perspiciatis quam eius ipsam dolor. Impedit sint quia reprehenderit?</p> <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quae eaque perferendis placeat eum perspiciatis voluptatum modi minus repudiandae? Cum, a. Quas tenetur suscipit, commodi a id iusto perspiciatis earum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam autem quisquam debitis totam a incidunt nesciunt, officiis tenetur minus vel modi, perspiciatis quam eius ipsam dolor. Impedit sint quia reprehenderit?</p> <br> <br> <br>
    <p>Lorem ipsum dolor sit amet consectetur <br> <br> adipisicing elit. Suscipit quae eaque perferendis placeat eum perspiciatis voluptatum modi minus repudiandae? Cum, a. Quas tenetur suscipit, commodi a id iusto perspiciatis earum.</p> <br>
    <p>Lorem ipsum dolor sit amet consectetur <br> <br> adipisicing elit. Suscipit quae eaque perferendis placeat eum perspiciatis voluptatum modi minus repudiandae? Cum, a. Quas tenetur suscipit, commodi a id iusto perspiciatis earum.</p> <br> <br>
    <p>Lorem ipsum dolor sit amet consectetur <br> <br> adipisicing elit. Suscipit quae eaque perferendis placeat eum perspiciatis voluptatum modi minus repudiandae? Cum, a. Quas tenetur suscipit, commodi a id iusto perspiciatis earum.</p> 
    <p>Lorem ipsum dolor sit amet consectetur <br> <br> adipisicing elit. Suscipit quae eaque perferendis placeat eum perspiciatis voluptatum modi minus repudiandae? Cum, a. Quas tenetur suscipit, commodi a id iusto perspiciatis earum.</p>
    
{% endblock %}
{% block js%} {% endblock %}