{%extends "base.html"%}




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{%block tittle%}{{ super() }} - completado{%endblock%}</title><!--super es para heredar cosas, hasta css y js-->
</head>
<body>
    <h1>hola mundo desde index</h1>


    {%block main%}
    <p>esta parte esta desde base html</p>
    {%endblock%}


</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>